.elements__like {
  background-image: url(../../../images/elements/like.svg);
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 22px;
  height: 19px;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s linear;
  margin-left: 20px;
}

.elements__like:hover {
  opacity: .5;
}
