.footer {
  display: flex;
  width: 100%;
  padding: 66px 0 60px 0;
  margin: 0;
}

@media screen and (max-width: 880px) {
  .footer {
    width: calc(100% - 2*19px);
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 48px 19px 36px;
  }
}
